/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  color: #232323;
  font-family: sans-serif;
  box-sizing: border-box;
}
button {
  border: none;
}
input {
  padding-left: 5px;
  display: block;
  width: 100%;
  height: 25px;
  border: 1px solid gainsboro;
  box-sizing: border-box;
}
label {
  font-size: 12px;
}
.form-control {
  margin-bottom: 10px;
}
.main {
  padding-top: 20px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.col-1 {
  width: 8.3%;
}
.col-2 {
  width: 16.67%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.3%;
}
.col-5 {
  width: 41.7%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.3%;
}
.col-8 {
  width: 66.7%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83%;
}
.col-11 {
  width: 91.7%;
}
.col-12 {
  width: 100%;
}
.container {
  margin: auto;
  width: 90%;
}
.error-message {
  color: rgb(255, 85, 85);
}
.btn {
  color: rgb(0, 110, 201);
  background: none;
  text-decoration: none;
  list-style: none;
  font-size: 13px;
  padding: 8px 12px;
  cursor: pointer;
}
.btn-primary {
  background: rgb(167, 167, 167);
  color: white;
  border-radius: 3px;
}
.btn-success {
  color: rgb(110, 235, 110);
  border: 1px solid rgb(110, 235, 110);
}
.btn-error {
  color: rgb(255, 85, 85);
  border: 1px solid rgb(255, 85, 85);
}
.bg-gray {
  background: rgb(243, 243, 243);
}
.m-10 {
  margin: 15px;
}
.m-t-0 {
  margin-top: 0;
}
/**
*
* Card styles
*/
.card {
  background: white;
  border-radius: 5px;
  border: 1px solid gainsboro;
  width: 241px;
}
.card-big {
  width: 100%;
}
.card-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  padding: 0px 20px;
}
.card-content {
  padding: 0 20px;
  font-size: 12px;
}
.card-footer {
  padding: 10px 20px;
  background: rgb(243, 243, 243);
}

@media (max-width: 220px) {
  .col-sm-12 {
    width: 100%;
  }
}
